<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edit Accessory
      </h1>
    </div>
  </div>
</section>
<%= render partial: 'form'%>
