<h1>Trips Dashbaord</h1>

<ul>
  <li>Average Duration: <%= @average_duration %></li>
  <li>Longest Duration: <%= @longest_duration %></li>
  <li>Shortest Duration: <%= @shortest_duration %></li>
  <li>Station with Most Starting Trips: <%= @station_most_starts %></li>
</ul>