<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edit Station
      </h1>
    </div>
  </div>
</section>
<%= render partial: 'form' %>
