@import 'shared_values';

#accessory-index-image {
  height: 6em
}

#accessory-show-image {
  height: 9em
}

#accessory-thumbnail {
  height: 2em
}

.centered {
  text-align: center;
}

#existing-user-login {
  position: fixed;
  top: 150px;
  left: 150px;
}

#new-user-login {
  position: fixed;
  top: 90px;
  left: 150px;
}
