
.centered {
  text-align: center;
}

.conditions-headers {
  font-size: 1.8em;
  margin-left: .2em;
  margin-bottom: .5em;
}

.trip-show-attributes {
  margin-left: 1.5em;
}

#bike-link {
  color: white;
}

#accessory-index-image {
  height: 6em
}

#accessory-show-image {
  height: 9em
}

#accessory-thumbnail {
  height: 3em
}

#existing-user-login {
  position: fixed;
  top: 150px;
  left: 150px;
}

#new-user-login {
  position: fixed;
  top: 90px;
  left: 150px;
}
