<h1>Bike Shop</h1>

<ul>
  <% @accessories.each do |accessory| %>
    <div id="accessory_<%= accessory.id %>">
      <li>Image tag placeholder</li>
      <li><%= accessory.title %></li>
      <% if accessory.active? %>
        <li><%= button_to 'Add to Cart', cart_path(accessory_id: accessory.id) %></li>
      <% else %>
        <li>Accessory Retired</li>
      <% end %>
    </div>
  <% end %>
</ul>

<%= paginate @accessories %>
