<h1>Bike Shop</h1>

<ul>
  <% @accessories.each do |accessory| %>
  <div id="accessory_<%= accessory.id %>">
    <li>Image tag placeholder</li>
    <li><%= accessory.title %></li>
    <li><%= link_to 'Add to Cart (placeholder link path)', accessories_path %></li>
  </div>
  <% end %>
</ul>

<%= paginate @accessories %>
