<ul>
  <li>Image tag placeholder</li>
  <li><%= @accessory.description %></li>
  <li><%= number_to_currency(@accessory.price) %></li>
  <li><%= link_to 'Add to Cart (placeholder link path)', accessories_path, method: 'get' %></li>
</ul>
