<h1><%= @accessory.title %></h1>

<ul>
  <li>Image tag placeholder</li>
  <li><%= @accessory.description %></li>
  <li><%= number_to_currency(@accessory.price) %></li>
  <% if @accessory.active? %>
    <%= link_to 'Add to Cart (placeholder link path)', accessories_path %>
  <% else %>
    Accessory Retired
  <% end %>
</ul>
