<ul>
  <li>Image tag placeholder</li>
  <li><%= @accessory.description %></li>
  <li><%= @accessory.price.number_to_currency %></li>
  <li><%= link_to 'Add to Cart (placeholder link path)', bike_shop_path, method: 'get' %></li>
</ul>
